@import 'variables';

h1 {
    color: $main-color;
}

.col-sm-6 {
    padding: 15px;
}

.card-title {
    min-height: 50px;
}

.dropdown-wrap {
    margin-right: 24px;
}

.dropdown-menu {
    left: -60px;
}

.td-width {
    max-width: 300px;
}

.checkbox-select-all {
    width: 180px;
    margin: 0 24px;
}

.heading-wrap {
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
}
